.ember-tableish {
  display: flex;
  flex-direction: column;
}

.ember-tableish-headers {
  flex: none;
  display: -ms-grid;
  display: grid;
}

.ember-tableish-body {
  flex: 1;

  /* need this, especially in Firefox, for similar reasons to https://css-tricks.com/preventing-a-grid-blowout */
  min-height: 0;
}

.ember-tableish-row {
  display: -ms-grid;
  display: grid;
}
