<EmberTableish class='main-table' as |table|>
  <table.headers as |headers|>
    <headers.header>
      Kyle
    </headers.header>
    <headers.header>
      Justin
    </headers.header>
    <headers.header>
      Turney
    </headers.header>
  </table.headers>

  <table.body>
    {{#each this.items as |item|}}
      <table.row>
        <div>{{item.kyle}}</div>
        <div>{{item.justin}}</div>
        <div>{{item.turney}}</div>
      </table.row>
    {{/each}}
  </table.body>
</EmberTableish>